<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.630158194253-8nfr47iertgg9gku2bfgtn080e6nd1qj</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Onboarding</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>SPASHT needs microphone access to analyze your speech fluency and provide real-time feedback.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>SPASHT requires speech recognition to transcribe your conversations and reading exercises to accurately measure your progress.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>SPASHT needs permission to save your earned awards to your photo library.</string>
</dict>
</plist>
